 <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">

<div style="text-align:center">
  <h1>
    {{title}}...
  </h1>
 </div>

<div class="card" *ngFor = "let product of products">
	<div class="w3-panel w3-card-2">
				<h3>{{product.name}}</h3>
				<span>{{product.description}}</span>
				<br />
				<img id="foodImage" src={{product.image}} height="100" width="130" />
				<br /><br />
				<span>{{product.price | currency:'SGD'}}</span>
				
				<button class="btnCart" [routerLink]="['/cart', { id:product.id }]">+ Add to Cart</button>
	</div>	  
</div>