
<body>
    <section>
        <div>
            <img src="./assets/background1.jpg" alt="" />
        </div>
    </section>

    <section class="section section--steps -align-center">
        <div class="section__head -align-center">
            <div class="container container--fixed">
                <h2>How It Works</h2>
            </div>
        </div>

        <div class="section__body">
            <div class="container container--fixed">
                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="media media--info">
                            <div class="media__icon">
                                <img alt="1. Search" src="http://demo.yoyumm.com/images/info_icon_1.svg" title="1. Search" />
                            </div>
                            <span class="media__title">1. Search</span>
                            <div class="media__desc">
                                <p>Find your favourite restaurant by clicking 'Add Restaurant'.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="media media--info">
                            <figure class="media__icon">
                                <img alt="2. Choose" src="http://demo.yoyumm.com/images/info_icon_2.svg" title="2. Choose" />
                            </figure>
                            <span class="media__title">2. Choose</span>
                            <div class="media__desc">
                                <p>Select a best fit and appropriate restaurant which fulfills your binge and taste buds.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="media media--info">
                            <figure class="media__icon">
                                <img alt="3. Pay" src="../assets/notesIMG.png"
                                     title="3. Pay" />
                            </figure>
                            <span class="media__title">3. Pay</span>
                            <div class="media__desc">
                                <p>Make payment using cash on delivery.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="media media--info">
                            <figure class="media__icon">
                                <img alt="4. Enjoy" src="http://demo.yoyumm.com/images/info_icon_4.svg" title="4. Enjoy" />
                            </figure>
                            <span class="media__title">4. Enjoy</span>
                            <div class="media__desc">
                                <p>Celebrate and have a good time enjoying your chosen delicacy.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
	
    <section class="section  -align-center">
        <div class="section__head -align-center">
            <div class="container container--fixed">
                <h2>Get Exclusive Offers</h2>
            </div>
        </div>

        <div class="section__body">
            <div class="container container--fixed">
                <p> Don't miss out on great offers! Subscribe now and receive deals from our restaurant partners via e-mail!</p>
                <input type="text" id="search" placeholder="Enter Email Address.">
            </div>
            
			<div>
			<button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#myModal">Submit</button>
			<!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
									<!--&times; (×) is an HTML entity that is the preferred icon for close buttons, rather than the letter "x".-->
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Success!</h4>
                                </div>
								
                                <div class="modal-body">
									<p>Success! You have now subscribed to our mailing list. Our offers and deals from restaurants will be sent to you! Be sure to check them out! </p>
                                    <div>
                                        <button data-dismiss="modal" class="btn btn-primary btn-lg btn-block">Okay!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					
			</div>
        </div>
		
    </section>
	
</body>